.inner.collection-inner {
    text-align: center;

    .t-wrap {
        padding-bottom: 7rem;

        h2.tit {
            font-size: 5rem;
            color: var(--primary);
            line-height: 50px;
            font-weight: 400;
            letter-spacing: 0;
            margin-bottom: 20px;
        }

        p.txt {
            font-size: 1.9rem;
            color: var(--secondary);
            letter-spacing: 0;
        }
    }

    .collection-slider {
        .info-tit {
            font-size: 13px;
            color: #009BDE;
            margin-bottom: 15px;
            font-weight: 400;
            padding: 8px 13px;

            display: inline-block;
            width: auto;
            border: 1px solid var(--secondary);
            border-radius: 60px;
        }

        .name {
            font-size: 20px;
            line-height: 1;
            color: #231F20;
            font-family: 'Source Serif Pro', serif;
            font-weight: 500;
            letter-spacing: 0px;
        }

        .k-name {
            margin-top: .9rem;
            font-size: 12px;
        }

        .img-wrap {
            // background-color: var(--bg);
            width: 36rem;
            height: 36rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin: auto;
            border-radius: 1rem;

            img {
                height: 80%;
                width: 80%;
                animation: up 2s infinite alternate;
            }
        }
    }

    .swiper-pagination {
        margin-top: 3rem;
        position: static;
        background-color: var(--bg);
        height: .4rem;

        .swiper-pagination-progressbar-fill {
            background-color: var(--secondary);
        }
    }

    @media screen and (max-width:1200px) {
        width: clamp(90rem, 90vw, 110rem);

        .img-wrap {
            width: clamp(25rem, 26vw, 30rem);
            height: clamp(25rem, 26vw, 30rem);
        }

        .swiper-pagination {
            width: 90vw;
            margin: 3rem 0;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 75%;
        transform: translateY(-50%);
        display: block;
        width: 3.5rem;
        height: 6.7rem;
    }

    .prev {
        left: -5rem;
        background-image: url('/img/review_arrow_prev.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .next {
        right: -5rem;
        background-image: url('/img/review_arrow_next.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 26rem;
    height: 26rem;
    margin: auto;
    object-fit: cover;
}

.swiper-pagination-progressbar {
    position: static;
}